*.optrpt
*.o
*.mod
*.list
*.ok
*.gmkview
*.genesis
*.incpath
*.incpath.local
*.intfbpathflag
*.modpath
*.modpath.local
*.srcpath
*.logfile
.gdb
bin
lib
src/local/.include
src/local/.intfb
.git
.gmkfile
sys
.ddt
.vimpack
src/.gmak
src/main
src/unsxref
*.lst
attic
stdeo.*
*.eo
*.swp
*.db
src/inter.1
